node_modules/
.env
local_settings.json
*.log
scratch/
test_gemini.js
test_gemini_v1.js
test_gemini_8b.js
raw_gemini.js
raw_gemini_latest.js
check_key_validity.js
test_endpoint.js
test_telegram.js
check_all_cols.js
check_db.js
check_trades_db_v4.js
test_update.js
try_ddl.js
check_columns.js
check_db_v2.js
check_db_v3.js
check_db_v4.js
check_db_v5.js
check_mock.js
check_schema_v2.js
check_trades.js
check_trades_db.js
check_trades_db_v2.js
check_trades_db_v3.js
check_watchlist.js
find_model.js
inspect_json.js
list_tables.js
scratch_get_price.js
try_rpc.js
test_insert.js
test_marketdata.js
test_methods.js
test_search.js
test_session.js
test_supabase.js
test_totp.js
find_nifty.js
find_nifty_exact.js
